<!-- <div class="page-title" style="width:214px;display:inline-block;margin-right:11px;">
  <div class="page-icon">
    <%#= link_to image_tag("farm_icon.png"), "/reviews/new/"%>
  </div>
  <div class="title-name">
    <%#= link_to image_tag("farm_title.png"), "/reviews/new/"%>
  </div>
</div>
<div class="page-title" style="width:598px;display:inline-block;">
  <div class="page-icon">
    <%= link_to image_tag("review_icon.png"), reviews_path%>
  </div>
  <div class="title-name">
    <%#= link_to image_tag("review_title.png"), reviews_path%>
  </div>
</div> -->
<div class="page-title">
    <%= image_tag("introduce_title.png") %>
</div>
<div class="page-tabbar">
	<div class="intro-subtitle">
		<%= image_tag("introduce.png") %>
	</div>
</div>
<%=image_tag "introduce_01.jpg"%>