development:
  secret_key_base: 72aa3dbf3e
  apistore_key: MyYw==
  fb_app_id: 266
  fb_app_secret: 197759
  naver_map_key: f3e7
  ga_tracking_id: U88-5
  url: localhost:3000
  send_phone: 0807
  page_tab_address: "https://www.facebook.com/pages/ThchSt451496"
production:
  secret_key_base: 72aa3dbf3e
  apistore_key: MyYw==
  fb_app_id: 266
  fb_app_secret: 197759
  naver_map_key: f3e7
  ga_tracking_id: U88-5
  url: localhost:3000
  send_phone: 0807
  page_tab_address: "https://www.facebook.com/pages/ThchSt451496"
