// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.faq-title {
  font-family: "NanumGothicWeb";
  font-size: 12pt;
  font-weight: 100;
  color: #000;
  padding-left: 12px;
  line-height: 46px;
}

div.faq_wrapper ul.list {
  width: 100%;
  display: inline-block;
}

div.faq_wrapper ul.list li {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  margin-top: -5px;
  cursor: pointer;
	float:left;
}

div.faq_wrapper ul.list li:first-of-type {
  margin-top: 0px;
}
div.faq_wrapper ul.list li.odd {
  background-color: #f2f2f2;
}

div.faq_wrapper ul.list li span.label {
  background: asset-url('faq/bg_label.png') no-repeat 8px 8px;
  margin-left: 7px;
  width: 20px;
  height: 28px;
  float: left;
  font-family: "NanumGothic", '나눔고딕', 'NanumGothicWeb';
  font-size: 12pt;
  color: #fff;
  text-align: center;
  padding: 8px;
  line-height: 20px;
}

div.faq_wrapper ul.list li span.title {
  width: 720px;
  float: left;
  color: #000;
  font-size: 12pt;
  font-family: "NanumGothic", '나눔고딕', 'NanumGothicWeb';
  padding-top: 10px;
  padding-bottom: 10px;  
}

div.faq_wrapper ul.list li span.pointer {
  width: 18px;
  height: 11px;
  padding: 5px;
  float: right;
  margin-right: 18px;
  margin-top: 10px;
  background: asset-url('faq/droppointer_down.png') no-repeat 5px 5px;
}

div.faq_wrapper ul.list li.active span.title{
	color:#00a563;
}

div.faq_wrapper ul.list li span.down {
  background: asset-url('faq/droppointer_up.png') no-repeat 5px 5px;
}

div.faq_wrapper ul.list li span.detail {
  display: none;
  width: 797px;
  background-color: #7B7B7B;
  font-family: "NanumGothic", '나눔고딕', 'NanumGothicWeb';
  font-size: 10pt;
  color: #fff;
  padding: 15px;
  line-height: 20px;
}
div.faq_wrapper ul.list li span.show {
  display: inline-block;
}

#btn-send{
	cursor:pointer;
}


