// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grid-header {
	
}
.grid {
	width: 827px;
}
.grid:after {
	content: "";
	display: block;
	clear: both;
}
.grid .gird-title {
	
}
.grid .row-search {
	
}

.gird .search-result {
	
}

.gird .search-result ul {
	display: 582px;
	list-style: none;
}

.search-result{
	position:relative;
}

.search-result ul .mentor-item {
	position: relative;
	float: left;
	display: inline-block;
	width: 132px;
	height: 114px;
	margin-right: 7px;
	margin-top: 7px;
}
.search-result ul .mentor-item.last-item {
	margin-right: 0px;
}
.search-result ul .mentor-item:hover {
	cursor: pointer;
}
.mentor-wrapper .mentor-indicator {
	display: none;
}
.mentor-wrapper .mentor-indicator.selected {
	position: absolute;
	border: 5px solid #00A563;
	border-bottom: none;
	width: 122px;
	height: 109px;
}
.mentor-wrapper .mentor-indicator.disabled {
	width: 132px;
	height: 114px;
	background: #444;
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}
.mentor-wrapper .mentor-thumbnail {
	position: absolute;
	width: 132px;
	height: 114px;
	overflow: hidden;
	top: 0;
	left: 0;
}

.mentor-wrapper .mentor-summary {
	position: absolute;
	display: none;
	overflow:hidden;
	top: 0;
	left: 0;
	width: 132px;
	height: 114px;
}
.mentor-wrapper .mentor-summary .summary-bg {
	width: 132px;
	height: 114px;
	background: #ac7011;
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}
.mentor-wrapper .mentor-summary .summary-content {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 13px;
}
.mentor-wrapper .mentor-summary .summary-content * {
	font-size: 12px;
	font-family:'나눔고딕', 'NanumGothic';
	color: #fff;
}
.mentor-wrapper .mentor-summary .summary-content .summary-term {
	font-size: 10px;
}
.mentor-wrapper .mentor-summary .summary-content .summary-category {
	margin: 6px 0;
}
.mentor-wrapper .mentor-summary .summary-content .summary-category ul li {
	line-height: 14px;
	font-family: 'NanumGothicBold';
	float: left;
	display: inline-block;
	width: 101px;
	color: #ffde00;
}
.mentor-wrapper .mentor-summary .green-label {
	position: absolute;
	left: 110px;
	z-index: 1px;
	top: 0;
}
.grid-title {
	text-align: right;
	margin: 15px 0 13px 0;
}
.grid-title:after {
	content: "";
	display: block;
	clear: both;
}

.grid .search-bar {
	margin-bottom: 8px;
}
.grid .search-bar:after {
	clear: both;
	display: block;
	content: "";
}

.grid .search-bar .search-category {
	display: inline;
	height: 90px;
	overflow: hidden;
	float: left;
}
.grid .search-bar .search-category ul:after {
	content: "";
	clear: both;
	display: block;
}
.grid .search-bar .search-category ul {
	width: 597px;
	display: inline-block;
}


.grid .search-bar .search-category ul li {
	height: 90px;
	overflow-y: hidden;
}
.grid .search-bar .search-category ul li:hover {
	cursor: pointer;
}
.grid .search-bar .search-category ul {
	list-style: none;
}
.search-bar .search-category ul li {
	display: inline-block;
	float: left;
}

.search-bar .search-datepicker {
	float: right;
	width: 230px;
	background: #373737;
	height: 90px;
}
.search-bar .search-datepicker .datepicker-custom {
//	float:left;
	width: 230px;
	margin-top:7px;
}
.search-bar .search-datepicker .datepicker-custom p {
	line-height: 36px;
	font-size: 14px;
	color: #fff;
	margin: auto 0;
	font-family:'나눔고딕', 'NanumGothic';
	text-align: center;
}
.search-bar .search-datepicker .datepicker-custom p span {

	font-family:'Century Gothic', 'NanumGothic';
	
}
.search-bar .search-datepicker .datepicker-option {
	padding: 2px;
}
.search-bar .search-datepicker .datepicker-option img:hover {
	cursor: pointer;
}
.search-bar .search-datepicker .datepicker-option ul{
	list-style: none;
}
.search-bar .search-datepicker .datepicker-option ul:after {
	content: "";
	display: block;
	clear: both;
}
.search-bar .search-datepicker .datepicker-option ul li {
	display: inline-block;
	width: 230px;
	height: 51px;
//	margin-left:4px;
	overflow: hidden;
	float: left;
} 
.search-bar .search-datepicker .datepicker-option ul li:first-child {
	margin-left: 3px;
	margin-top:1px;
}

#mentor-detail-wrapper {
//	display:none;
	visibility:hidden;
	position: relative;
	background: #fff;
	width: 817px;
	height:1px;
	float: left;
	min-height: 0;
	border: 5px solid #00A563;
}
#mentor-detail-wrapper .mentor-title {
	padding-left: 36px;
	font-size: 16px;
	border-bottom: 1px solid #919191;
}
#mentor-detail-wrapper .mentor-title:after {
	content: "";
	clear: both;
	display: block;
}
#mentor-detail-wrapper .mentor-title span {
	float: left;
	font-size: 16px;
	line-height: 44px;
	font-family:'나눔고딕', 'NanumGothic';
}
#mentor-detail-wrapper .mentor-title img#detail-close {
	float: right;
	max-width: 30px;
	margin-top: -5px;
	margin-right: -5px;
} 
#mentor-detail-wrapper .mentor-title img:hover {
	cursor: pointer;
}
#mentor-detail-wrapper .mentor-desc {
	padding: 20px 36px 20px 36px;
	font-size: 12px;
	border-bottom: 1px solid #919191;
}
#mentor-detail-wrapper .mentor-desc:after {
	content: "";
	clear: both;
	display: block;
}
#mentor-detail-wrapper .mentor-desc span {
	float: left;
	font-size: 12px;
	margin-top: 6px;

}
#mentor-detail-wrapper .mentor-desc img {
	float: right;
}
#mentor-detail-wrapper .mentor-desc img:hover {
	cursor: pointer;
}
#mentor-detail-wrapper .mentor-category {
	
	margin: 0 38px;
}
#mentor-detail-wrapper .mentor-category:after {
	content: "";
	display: block;
	clear: both;
}
#mentor-detail-wrapper .mentor-category .mentor-detail-left {
	float: left;
	width: 360px;
	margin-bottom: 34px;
}
#mentor-detail-wrapper .mentor-category .mentor-detail-right {
	float: right;
	width: 360px;
	margin-bottom: 34px;
}
#mentor-detail-wrapper .mentor-category ul.category-tab {

}
#mentor-detail-wrapper .mentor-category ul.category-tab:after {
	content: "";
	clear: both;
	display: block;
}
#mentor-detail-wrapper .mentor-category ul.category-tab li {
	display: none;
	position: relative;
	border-top: 1px solid #919191;
	border-right: 1px solid #bcbcbc;
	border-left: 1px solid #bcbcbc;
	border-bottom: 1px solid #919191;
	text-align: center;
	float: left;
	width: 132px;
	height: 32px;
	line-height: 32px;
	background: #919191;
	color: #fff;
	
}
#mentor-detail-wrapper .mentor-category ul.category-tab li.open {
	display: inline-block;
}
#mentor-detail-wrapper .mentor-category ul.category-tab li.selected {
	height:33px;
	padding-top:1px;
	background: #00A563;
	margin-top:-1px;
	border: 1px solid #2b8d5a;
}
#mentor-detail-wrapper .mentor-category ul.category-tab li img {
	position: absolute;
	top: 29px;
	left: 62px;
	display: none;
}
#mentor-detail-wrapper .mentor-category ul.category-tab li.selected img {
	display: inline-block;
}
#mentor-detail-wrapper .mentor-category ul.category-tab li:hover {
	cursor: pointer;
}
.mentor-detail-left {
	margin-top: 18px;
}
.mentor-detail-left .mentor-info-table span {
	font-family: 'NanumGothicBold';
	font-size: 12px;
	line-height: 16px;
	padding: 4px 0;
}
.mentor-detail-left .mentor-info-table span.info-label {
	width: 89px;
	display: inline-block;
	text-align: center;
	color:#39b875;
}
.mentor-detail-left .mentor-info-table ul li{
	border-bottom:1px solid #eee2d1;
}
.mentor-detail-left .mentor-info-table ul li:last-child{
	border-bottom:none;
}
.mentor-detail-left .mentor-image img {
	margin-top: 18px;
	padding: 0;
	max-width: 360px;
}
.mentor-detail-left .mentor-info-table span.info-content {}

.mentor-detail-right .mentor-region-addr {
	padding: 14px 0;
	font-size: 12px;
	font-family: 'NanumGothicBold';
	text-align: right;
}
.tab-divider {
	padding: 0;
	margin: 0;
}
.etc-bar {
	width: 100%;
}
#join-popup {
  background: asset-url('joinpop_bg.jpg');
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 338px;
	height:206px;
	margin-left: 244px;
	margin-top: 120px;
	z-index:101;
  text-align: center ;
}
#mantor-phone {
	position: absolute;
	left: 0;
	top: 120px;
	width: 338px;
	text-align: center;
	font-size: 20px;
	color: #666666;
}

#mentor-region-map{
	width:100%;
	height:220px;
	display:block;
}


#ui-datepicker-div {
	width:230px;
	height:221px;
	background: asset-url('bg_calendar_pop.png');
	margin-left: -5px;
	margin-top: -5px;
//	border: 1px solid #fff;
	display:none;
}

.ui-datepicker-calendar {
	width: 204px;
	height:146px;
	margin:25px 0px 0px 12px;
}
.ui-datepicker-title {
	margin-top: 20px;
	color: #fff;
	text-align: center;
	font-family: "NanumGothic";
	font-size: 18px;
}
.ui-datepicker-calendar th{
	display:none;
}
.ui-datepicker-calendar td {
	text-align: center;
	width: 24px;
}
.ui-datepicker-calendar th {
	text-align: center;
	color: #fff;
	width: 24px;
	color: #fff;
	font-family: "NanumGothic";
	font-size: 11px;
}
.ui-datepicker-calendar td a {
	color: #fff;
	font-family: "NanumGothic";
	font-size: 11px;
}
.ui-datepicker-calendar td a:hover {
	color: #fff;
	text-decoration: none; 
}
.ui-datepicker-calendar td {
	border: 1px solid #2a2d36;
	background:asset-url('bg_calendar_non_ov.png');
}
.ui-datepicker-today{
	background:asset-url('bg_calendar_sel.png') !important;
}
.ui-datepicker-calendar td:hover {
	background:asset-url('bg_calendar_ov.png');;
	cursor: pointer;
}
.ui-datepicker-calendar td:hover a {

	color: #fff;
}

.ui-datepicker-prev.ui-corner-all {
	margin-left:40px;
	position:absolute;
	margin-top:5px;
	width:5px;
	height:9px;
	float: left;
	color: #fff;
	font-family: "NanumGothic";
	background:asset-url('btn_prev_month.png');
	background-repeat:no-repeat;
	line-height:600%;
	font-size: 11px;
	overflow:hidden;
}
.ui-datepicker-next.ui-corner-all {
//	margin-right: 8px;
position:absolute;
right:40px;
margin-top:5px;
	width:5px;
//	float:right;
	height:9px;
	color: #fff;
	font-family: "NanumGothic";
	background:asset-url('btn_next_month.png');
	background-repeat:no-repeat;
	line-height:600%;
	font-size: 11px;
	overflow:hidden;
}

.ui-datepicker-prev.ui-corner-all:hover, .ui-datepicker-next.ui-corner-all:hover {
	cursor: pointer;
	text-decoration: none;
}
.mentor-detail-ajax {
	display:none;
	padding-top: 20px;
	text-align: center;
	min-height: 92px;
	overflow: hidden;
}
.mentor-detail-ajax p {
	text-align: center;
	font-family: "NanumGothic";
	font-size: 11px;
	margin-top: 4px;
	
}


ul.header-menu li {
  margin-left: 15px;
}

.extend_information_pop{
	position:absolute;
	z-index:500;
	width:338px;
	height:440px;
	background:asset-url('exform_bg.jpg');
	background-repeat:no-repeat;
}

#exform_name{
    position: relative;
    left: 104px;
    top: 165px;
    width: 180px;
    height: 14px;
}

#exform_email{
    position: relative;
    left: 104px;
    top: 159px;
    width: 180px;
    height: 14px;
}

#exform_phone{
    position: relative;
    left: 104px;
    top: 153px;
    width: 180px;
    height: 14px;
}

#exform_introduce{
	position:relative;
	left: 26px;
	top: 172px;
	width: 258px;
	height: 80px;
}

#exform_submit{
	position:relative;
	left:115px;
	top:188px;
}

.job_application{
	position:relative;
	top:172px;
}

#mentor-join-phone{
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
    left: 88px;
    /* margin-left: -25%; */
    top: 121px;
}