// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-subtitle {
	
	margin-top: 22px;
	margin-left: 18px;
	margin-bottom: 16px;
}
.expdable-table .row {
	margin: 0px;
	border-top: 1px solid #f2f2f2;
}
.expdable-table .row:first-child {
	border: none;
}

.expdable-table .row .mother {
	background: #fff;
	font-size: 12px;
	font-family: "NanumGothic";
}

.expdable-table .row .active{
	color:#00a563;
}
.expdable-table .row .mother:after {
	display: block;
	clear: both;
	content: "";
}

.expdable-table .row .mother .number {
	display: inline-block;
	width: 46px;
	line-height: 46px;
	text-align: center;
	float: left;
}
.expdable-table .row .mother .title {
	float: left;
	display: inline-block;
	line-height: 46px;
	float: left;
}
.expdable-table .row .mother .date {
	float: right;
	display: inline-block;
	width: 120px;
	line-height: 46px;
	text-align: center;
}
.expdable-table .row .mother .pointer {
	width: 46px;
	height: 46px;
	float: right;
}
.expdable-table .row .mother .pointer img {
	height: 46px;
}
.expdable-table .row .mother:hover {
	cursor: pointer;
}
.expdable-table .row .expend {
	display: none;
	font-size: 12px;
	font-family: "NanumGothic";
	color: #fff;
	background: #5f5f5f;
	padding: 28px 60px;
}
.pager {
	border-top: 1px solid #f2f2f2;
	padding: 24px 0;
	background: #fff;
	margin: 0;
}
.pager nav span a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0;
	border: 1px solid #888;
	padding: 0px 6px;
	color: #888;
	font-size: 11px;
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pager nav span.current {
	background: #888;
	color: #fff;
  display: inline-block;
  padding: 5px 14px;
  border: 1px solid #ddd;
	font-size:11px;
}

.pager .next > a, .pager .next > span{
	float:none;
}

.pager .first, .pager .last{
	display:none;
}