/*========= Cross Browser Initialize =========*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
 margin:0;
 padding:0;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
fieldset,img { 
 border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
 font-style:normal;
 font-weight:normal;
}
ol,ul {
 list-style:none;
}
caption,th {
 text-align:left;
}
h1,h2,h3,h4,h5,h6 {
 font-size:100%;
 font-weight:normal;
}
q:before,q:after {
 content:'';
}
abbr,acronym { border:0;
}

html,body{
	display:block;
	width:100%;
	height:100%;
}
body{
	background:asset-url('bg.png');
}
a:hover {
	background: none;
}
/*=========================================*/



/*========= Main Layout Style =========*/
#page{
	padding-bottom: 10px;
}
#page:after {
	display: block;
	clear: both;
	content: "";
}
#sidebar{
	float: left;
	width:191px;
	margin-right: 6px;
}
#sidebar .sidebar-menu{
	width:100%;
}
#sidebar .sidebar-menu a:hover {
	background: none;
}
#sidebar .sidebar-menu-item {
	width:100%;
	margin-bottom:2px;
}
#sidebar .sidebar-menu-item:hover {
	background:none;
}
#sidebar .sidebar-menu-item .banner {
	width: 100%;
	display: inline-block;
	margin-bottom: 3px;
}
#sidebar .main-logo {
	margin-top:49px;
	margin-bottom: 6px;
	height:46px;
}

#content{
	width:1024px;
	margin:0 auto;
}
#content:after {
	content: "";
	clear: both;
	display: block;
}

#content #safe-area{
	float:left;
	width: 827px;
}

#content .header{
	width:100%;
	height:35px;
	padding:7px 0;
}
#content .header:after {
	clear:both;
	display:block;
	content:"";
}
#content .header ul{
	margin-top:10px;
	float:right;
}
#content .header ul li{
	float:left;
}

#content .grid{
	width:100%;
}

#content .row-about{
	height:46px;
	margin-bottom:6px;
}
#content .about-ff{
	width:210px;
	height:46px;
	background:#333;
	float:left;
}

#footer {
	margin: 10px 0;
	border-top: 2px solid #838383;
	border-bottom: 2px solid #838383;
}

#footer:after {
	content: "";
	display: block;
	clear: both;
}

#footer #footer-content {
	width: 1024px;
	margin: 20px auto;
}
#footer #footer-content:after {
	content: "";
	clear: both;
	display: block;
}
#footer #footer-copy {
//	float: left;
	position:absolute;
	display:block;
	margin-left:195px;
}
#footer #footer-policy {
	float:right;
	margin-right:12px;
	margin-top:8px;
}

#footer #footer-familysite {
	float: right;
	margin: 0;
	border: 0;
	border-radius: 0;
	width: 160px;
	padding: 2px 4px;
	font-size: 11px;
	line-height: 1;
	height: 25px;
}
	
#footer #footer-policy:hover {
	cursor: pointer;
}

#footer {
	margin: 10px 0;
	border-top: 2px solid #838383;
	border-bottom: 2px solid #838383;
}

/* ============================== */
/* Notice Ticker Module CSS START */
/* ============================== */
.notice{
	width:610px;
	height:46px;
	background:#39b875;
	float:left;
	clear:right;
	margin-left:7px;
	overflow:hidden;
}

.notice .notice-icon{
	width:51px;
	height:46px;
	float:left;
}
.notice .notice-contents{
	width:559px;
	height:46px;
	overflow:hidden;
	display:table;
	table-layout:fixed;
}
.notice .notice-contents li{
	width:559px;
	height:46px;
	display:table-row;
}

.notice .notice-contents li div{
	display:table-cell;
	width:539px;
	height:46px;
	vertical-align: middle;
	text-align:right;
	font-family:'나눔고딕', 'NanumGothic';
	font-size:16px;
	color:#fff;
	padding-right:20px;
}

.notice .notice-contents li div a{
	color:#fff;
}

/* ============================== */
/*  Notice Ticker Module CSS End  */
/* ============================== */

#content .row-news{
	height:265px;
}
#content .slider{
	width:535px;
	height:265px;
	float:left;
}
#content .today-prog{
	width:286px;
	height:265px;
	background:#333;
	float:left;
	overflow:hidden;
	margin-left:6px;
}

#content .today-prog .prog-list .prog-list-item{
	width:270px;
	height:27px;
	padding-top:6px;
	padding-bottom:14px;
	margin:0 auto;
	border-bottom: 1px dashed #5c5c5c;
	cursor:pointer;
}
#content .today-prog .prog-list .prog-list-item:last-child{
	border-bottom:none;
}

#content .today-prog .prog-list .prog-list-item .prog-date, #content .today-prog .prog-list .prog-list-item .prog-subject{
	font-family:'Dotum', '돋움';
}

#content .today-prog .prog-list .prog-list-item .prog-date{
	color:#717171;
	font-size:11px;
	word-spacing:-0.1em;
}

#content .today-prog .prog-list .prog-list-item .prog-date .new{
	margin-left:3px;
}

#content .today-prog .prog-list .prog-list-item .prog-subject{
	color:#fff;
	font-size:12px;
	letter-spacing:-0.1em;
	word-spacing:-0.1em;
	margin-left:3px;
}
#content .today-prog .prog-list .prog-list-item .prog-subject span{
  word-spacing: 4px;
  margin-left:4px;
}
#header-admin-menu{
	/*margin-top:1px;*/
	margin-right:10px;
}

#header-admin-menu > a{
	font-size:14px;
	color:#fff;
}

#header-admin-menu > a:hover{
	text-decoration:none;
}

#nav_logout{
	color:#fff;
}

/*========= jeonghoon Layout Style Start =========*/

.page-title {
	background: #333333;
	
	margin-bottom: 7px;

}
.page-title:after {
	content: "";
	clear: both;
	display: block;
}
.page-title .page-icon {
	width: 51px;
	height: 46px;
	float: left;
	overflow: hidden;
}

.page-title .title-name {
	height: 53px;
	float:left;
}
.page-tabbar {
//	height: 30px;
//	background: #2c2c2c;
	overflow: hidden;
}
.page-tabbar:after {
	clear: both;
	content: "";
	display: block;
}
.page-tabbar .page-tab {
	float: left;
	width: 106px;
} 
.page-tabbar .page-tab .tabbg {
	float: left;
}
.page-tabbar .page-tab .tabstr {
	position: relative;
	top: -30px;
	float: left;
}
.page-tabbar .page-desc {
	float: left;
}
#faq_wrapper .page-more {
	background: #fff;
	height: 80px;
	overflow: hidden;
}
#faq_wrapper .page-more:hover {
	cursor: pointer;
}

.faq-subtitle{
	margin:10px 0px 6px 20px;
}

.qna-subtitle{
	margin:13px 0px 6px 20px;
}

.intro-subtitle{
	margin:10px 0px 6px 20px;
}

.notice-table {
	font-family:'Dotum', '돋움';
	font-size: 13px;
	background: #fff;
}

.notice-table .row-summary {
	height: 46px;
	font-weight:bold;
	color: #7b7b7b;
}

.notice-table .notice-row.odd .row-summary {
	background: #fff;
}
.notice-table .notice-row.even .row-summary{
	background: #f2f2f2;
}

.row-summary .faq-label {
	float:left;
	height: 46px;
	display: inline-block;
}
.row-summary .faq-label img {
	margin-top: 4px;
	margin-left:8px;

}
.row-summary .faq-title {
	display: inline-block;
}
.row-summary .faq-title img {
	margin-top: 5px;
	margin-left: 2px;
}
.notice-table .row-summary .notice-no {
	line-height: 46px;
	width: 106px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.notice-table .row-summary .notice-date {
	line-height: 46px;
	margin-left: 4px;
	width: 90px;
	text-align: left;
	vertical-align: middle;
	float: left;
}
.notice-table .row-summary .notice-title {
	line-height: 46px;
	vertical-align: middle;
	float: left;
}
.notice-table .row-summary .row-pointer {
	overflow: hidden;
	height: 46px;
	float: right;
}
.notice-table .row-summary .row-pointer:hover {
	cursor: pointer;
}
.notice-table .row-detail {
	display: none;
	color: #fff;
	background: #7b7b7b;
	padding: 16px;
}
.form-wrapper {
	background: #f2f2f2;
}
#no-faq {
	height: 47px;
	overflow: hidden;
	background: #fff;
	width: 100%;
}

.form-wrapper {
	padding: 16px 8px;
}

.form-wrapper .form-row .form-label {
	display: inline-block;
	width: 120px;
}
.form-wrapper .form-row .form-input {
	float: left;
}

.form-wrapper .form-row:after  {
	content: "";
	clear: both;
	display: block;
}
.form-wrapper .form-row .form-label {
	float:left;
}

.form-wrapper .form-row .form-input textarea, .form-wrapper .form-row .form-input input {
	font-family:'Dotum', '돋움';
	font-size: 13px;
	float: left;
	width: 668px;
	border-color: #cfcfcf;
	border-style:solid;
	border-width:1px;
	padding-left: 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form-wrapper .form-row .form-input input {
	height: 28px;
}

.form-wrapper .form-row .form-input textarea {
	padding: 4px 4px;
	float: left;
	height: 160px;
	overflow: hidden;
}
.form-wrapper .form-row .form-submit {
	display: inline-block;
	float:right;
	margin-top: 8px;
	margin-right: 16px;
	width: 101px;
	height: 25px;
	overflow: hidden;
}
.form-wrapper .form-row .form-submit input {
	width: 101px;
	height: 25px;
	padding: 0px;
	border:none;

	overflow: hidden;
	background:assets-url('button_send.png') no-repeat;
}
.form-wrapper .form-row .form-submit input:hover {
	cursor: pointer;
}

span.social-count {
	display: inline-block;
	padding-top:4px;
	width: 62px;
	margin-top: 5px;
	height: 18px;
	text-align: center;
	font-family:'Dotum', '돋움';
	color: #4daf7c;
	font-size: 12px;
	border: 1px solid #c9e5d6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.prog-pagination{
width:270px;
margin:0 auto;
margin-top:6px;
text-align:center;
}

.prog-pagination li{
display:inline;
color:#fff;
margin-left:4px;
margin-right:4px;
cursor:pointer;
}

.prog-pagination .prog-pagination-numbers{
	padding-top:2px;
}

.prog-pagination li.pagination-current{
	font-weight:bolder;
	cursor:initial;
	color:#ff6c00;
}

.prog-pagination-next{
	margin-left:8px !important;
}
/*========= jeonghoon Layout Style End =========*/